{% extends 'store/base_view.html' %}
{% load static %}

{% block view_content %}
    <div class="container-fluid">
        <h3 class="p-3 m-3">
            {% if 'add' in request.path %}
                Add {{ model_name }}
            {% else %}
                Edit {{ model_name }}
            {% endif %}
        </h3>
        <form method="post" class="m-4">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper p-2">
                    {{ field.errors }}
                    <h5>{{ field.label_tag }}</h5>
                    {% if field.label == 'Url' and field.value %}
                        <div class="d-flex flex-row">
                            {{ field }}
                            <a href="{{ field.value }}/" target="_blank">
                                <img class="m-3" src="{% static 'store/img/open_in_new.svg' %}" alt="open-url"/></a>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                </div>
            {% endfor %}
            <div class="m-3">
                <button name="submit" class="btn btn-primary btn-sm">
                    {% if 'add' in request.path %}
                        Add
                    {% else %}
                        Update
                    {% endif %}
                </button>
            </div>
        </form>
    </div>
{% endblock %}