{% extends 'store/base_view.html' %}
{% load static %}

{% block view_content %}
    <div class="container-fluid">
        <h3 class="p-3 m-3">
            {% if 'add' in request.path %}
                Add {{ model_name }}
            {% else %}
                Edit {{ model_name }}
            {% endif %}
        </h3>

        <div class="d-flex p-3 m-3">
            <div class="flex-fill">
                <form method="post" class="m-4">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper p-2">
                            {{ field.errors }}
                            <h5>{{ field.label_tag }}</h5>
                            {% if field.label == 'Url' and field.value %}
                                <div class="d-flex flex-row">
                                    {{ field }}
                                    <a href="{{ field.value }}/" target="_blank">
                                        <img class="m-3" src="{% static 'store/img/open_in_new.svg' %}" alt="open-url"/></a>
                                </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="m-3">
                        <button type="submit" class="btn btn-primary btn-sm">
                            {% if 'add' in request.path %}
                                Add
                            {% else %}
                                Update
                            {% endif %}
                        </button>
                    </div>
                </form>
            </div>

            {% if 'add' not in request.path %}
                <div class="d-flex align-items-start">
                    {% if 'links' in request.path %}
                        <a href="{% url 'store:link-delete' pk=detail_object.pk %}">
                    {% elif 'topics' in request.path %}
                        <a href="{% url 'store:topic-delete' pk=detail_object.pk %}">
                    {% elif 'tags' in request.path %}
                        <a href="{% url 'store:tag-delete' pk=detail_object.pk %}">
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-sm btn-danger">
                        Delete
                    </button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}