{% extends 'store/base_list.html' %}
{% load static %}
{% block content_list %}
    {% csrf_token %}
    <script src="{% static 'store/js/checkbox.js' %}"></script>
    <thead class="h6">
    <tr>
        <th scope="col"><h4>#</h4></th>
        <th scope="col"><h4>Link</h4></th>
        <th scope="col"><h4>Topic</h4></th>
        <th scope="col"><h4>Saved</h4></th>
        <th scope="col"><h4>Type</h4></th>
        <th scope="col"><h4>Read</h4></th>
        <th scope="col"><h4>Marked</h4></th>
    </tr>
    </thead>
    <tbody>
    {% for link in link_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="{{ link.url }}" target="_blank">
                    {{ link.title }}
                </a>
                <a href="{{ link.id }}/" target="_blank">
                    <img src="{% static 'store/img/edit_icon.svg' %}" alt="edit-link"/>
                </a>

            </td>
            <td>{{ link.topic }}</td>
            <td>{{ link.saved_on|date:"d-M-y" }}</td>
            <td>{{ link.type }}</td>
            <td>
                <input type="checkbox"
                       id="has_been_read_{{ link.pk }}"
                       name="read_{{ link.pk }}"
                       value="{{ link.pk }}"
                       {% if link.has_been_read %} checked="checked" {% endif %}
                       onchange="updateCheckboxBackend('read_{{ link.pk }}')"
                />
                <label for="has_been_read_{{ link.pk }}"></label>
            </td>
            <td>
                <input type="checkbox"
                       id="is_marked_{{ link.pk }}"
                       name="marked_{{ link.pk }}"
                       value="{{ link.pk }}"
                       {% if link.is_starred %} checked="checked" {% endif %}
                       onchange="updateCheckboxBackend('marked_{{ link.pk }}')"
                />
                <label for="is_marked_{{ link.pk }}"></label>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
