{% extends 'store/base_view.html' %}
{% load static %}

{% block view_content %}
    <div class="container-fluid">
        <h3 class="p-3 m-3">
            Edit Profile
        </h3>
        <div class="d-flex p-3 m-3">
            <div class="flex-fill">
                <form method="post" class="m-4">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="fieldWrapper p-2">
                            {{ field.errors }}
                            <h5>{{ field.label_tag }}</h5>
                            <div class="d-flex flex-row">
                                {{ field }}
                            </div>

                        </div>
                    {% endfor %}
                    <div class="m-3">
                        <button type="submit" class="btn btn-primary btn">
                            Update Profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}