{% extends 'store/base_view.html' %}
{% load static %}

{% block view_content %}
    <div class="container-fluid">
        <h3 class="p-3 m-3">
            <em>LinkStore</em> Stats
        </h3>
        <table class="table table-hover">
            <tbody>
            {% for k, v in stats_data.items %}
                <tr class="table-info">
                    <th scope="row">{{ k }}</th>
                    <td>{{ v }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}
