{% extends 'store/base_list.html' %}
{% load static %}
{% block content_list %}
    <thead class="h6">
    <tr>
        <th scope="col"><h4>#</h4></th>
        <th scope="col"><h4>Tag</h4></th>
        <th scope="col"><h4>Updated</h4></th>
        <th scope="col"><h4>Created</h4></th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tag_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ tag.name }}
                            <a href="{{ tag.id }}/" target="_blank">
                    <img src="{% static 'store/img/edit_icon.svg' %}" alt="edit-link"/>
                </a></td>
            <td>{{ tag.updated_on|date:"d-M-y" }}</td>
            <td>{{ tag.created_on|date:"d-M-y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}