{% extends 'store/base_detail.html' %}
{% load static %}

{% block content_detail %}
    <div class="container-fluid">
        <h3 class="p-3 m-3"> Edit Topic </h3>
        <form method="post" class="m-4">
            {% csrf_token %}
            <div class="p-4 m-3">
                {% for field in form %}
                    <div class="fieldWrapper p-2">
                        {{ field.errors }}
                        <h5>{{ field.label_tag }}</h5>
                        {{ field }}
                    </div>
                {% endfor %}
            </div>
            <div class="m-3">
                <button name="submit" class="btn btn-primary btn-sm">Update</button>
            </div>
        </form>
    </div>
{% endblock %}