{% extends 'store/base_list.html' %}
{% load static %}
{% block content_list %}
    <thead class="h6">
    <tr>
        <th scope="col"><h4>#</h4></th>
        <th scope="col"><h4>Topic</h4></th>
        <th scope="col"><h4>Created</h4></th>
    </tr>
    </thead>
    <tbody>
    {% for topic in topic_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ topic.name }} 
                <a href="{{ topic.id }}/" target="_blank">
                    <img src="{% static 'store/img/edit_icon.svg' %}" alt="edit-link"/>
                </a></td>
            <td>{{ topic.creation_date|date:"d-M-y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}