{% extends 'store/base_list.html' %}
{% load static %}
{% block content_list %}
    <thead class="h6">
    <tr>
        <th scope="col"><h2>#</h2></th>
        <th scope="col"><h2>Topic</h2></th>
        <th scope="col"><h2>Created</h2></th>
    </tr>
    </thead>
    <tbody>
    {% for topic in topic_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ topic.name }}</td>
            <td>{{ topic.creation_date|date:"d-M-y" }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}