{% extends 'store/base.html' %}
{% load static %}
<img src="{% static 'store/landing_bg.jpg' %}" class="img-fluid" alt="landing-page-bg">
{% block content %}

    {% if form.errors %}
        <p>Incorrect credentials. Please try again.</p>
    {% endif %}
    <form method="post" action="{% url 'users:login' %}">
        {% csrf_token %}

        <div class="grid gap-0 row-gap-3">
            <div class="input-group mb-3">
                <span class="input-group-text">@</span>
                <div class="form-floating">
                    <input type="text" class="p-2 g-col-6 form-control form-control-lg" id="floatingInputGroup1"
                           placeholder="Username">
                    <label for="floatingInputGroup1">Username</label>
                </div>
            </div>

            <div class="form-floating">
                <input type="password" class="p-2 g-col-6 form-control form-control-lg" id="floatingPassword"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="p-2 g-col-6">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

        </div>
    </form>
{% endblock content %}