{% extends 'store/base_landing_login.html' %}
{% load static %}


{% block content_landing_login %}
    <div class="container-fluid
position-absolute top-50 start-50 translate-middle"
    >
        <div class="position-absolute top-50 start-50 translate-middle
        p-3 mb-2 bg-light text-dark
        shadow-lg p-3 mb-5 bg-body-tertiary rounded">

            <p class="text-success"><strong>Password successfully changed </strong></p>
            <a href="{% url 'users:login' %}" class="btn btn-primary btn-sm">Click here to Login</a>
            
        </div>
    </div>
{% endblock %}
