{% extends 'store/base_landing_login.html' %}
{% load static %}


{% block content_landing_login %}
    <div class="container-fluid
position-absolute top-50 start-50 translate-middle"
    >
        <div class="position-absolute top-50 start-50 translate-middle
        p-3 mb-2 bg-light text-dark
        shadow-lg p-3 mb-5 bg-body-tertiary rounded">

            <h3>Reset Password</h3>

            {% if validlink %}

                <form method="post">{% csrf_token %}
                    {% if form.errors %}
                        <p class="text-danger">Please correct the error(s) below.
                            {{ form.new_password1.errors }}
                            {{ form.new_password2.errors }}
                        </p>
                    {% endif %}

                    <p>Please enter your new password twice so we can verify you typed it in correctly</p>

                    <fieldset class="module aligned wide">
                        <div class="form-row p-2 g-col-6">
                            <div class="flex-container">
                                <label class="form-label" for="id_new_password1">New password:</label>
                                {{ form.new_password1 }}
                            </div>
                        </div>
                        <div class="form-row p-2 g-col-6">
                            <div class="flex-container">
                                <label class="form-label" for="id_new_password2">Confirm password:</label>
                                {{ form.new_password2 }}
                            </div>
                        </div>
                        <div class="p-2 g-col-6">
                            <input class="btn btn-primary btn-sm" type="submit" value="Reset password">
                        </div>
                    </fieldset>
                </form>

            {% else %}

                <p>The password reset link was invalid, possibly because it has already been used. Please request a new
                    password reset</p>

            {% endif %}
        </div>
    </div>
{% endblock %}
