{% extends 'store/base_landing_login.html' %}
{% load static %}


{% block content_landing_login %}
    <div class="container-fluid
position-absolute top-50 start-50 translate-middle"
    >
        <div class="position-absolute top-50 start-50 translate-middle
        p-3 mb-2 bg-light text-dark
        shadow-lg p-3 mb-5 bg-body-tertiary rounded">

            <form method="post">{% csrf_token %}
                {% if form.errors %}
                    <p class="text-danger">Please correct the error(s) below.
                        {{ form.old_password.errors }}
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </p>
                {% endif %}
                <div>

                    <p>Please enter your old password, for security’s sake, and then enter your new password twice so we
                        can verify you typed it in correctly.</p>

                    <fieldset class="module aligned wide">

                        <div class="form-row p-2 g-col-6">
                            <div class="flex-container">{{ form.old_password.label_tag }} {{ form.old_password }}</div>
                        </div>

                        <div class="form-row p-2 g-col-6">
                            <div class="flex-container">{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
                            {% if form.new_password1.help_text %}
                                <div class="help"{% if form.new_password1.id_for_label %}
                                     id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                            {% endif %}
                        </div>

                        <div class="form-row p-2 g-col-6">
                            <div class="flex-container">{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
                            {% if form.new_password2.help_text %}
                                <div class="help"{% if form.new_password2.id_for_label %}
                                     id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                            {% endif %}
                        </div>

                    </fieldset>

                    <div class="p-2 g-col-6">
                        <input class="btn btn-primary btn-sm" type="submit" name="next" value="Reset Password"/>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
