{% extends 'store/base_landing_login.html' %}
{% load static %}


{% block content_landing_login %}
    <div class="container-fluid
position-absolute top-50 start-50 translate-middle"
    >
        <div class="position-absolute top-50 start-50 translate-middle
        p-3 mb-2 bg-light text-dark
        shadow-lg p-3 mb-5 bg-body-tertiary rounded">

            <h3>Reset Password</h3>

            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new
                one</p>

            <form method="post">{% csrf_token %}
                <div class="d-flex flex-column">
                    {{ form.email.errors }}
                    <div class="p-3 d-flex flex-column align-items-start">
                        <label class="col-form-label" for="id_email">Email address:</label>
                        {#                        <input type="email" class="form-control form-control-sm" id="id_email"#}
                        {#                               placeholder="Email">#}
                        {{ form.email }}
                    </div>

                    <div class="p-3 d-flex justify-content-start">
                        <input class="btn btn-primary btn-sm" type="submit" name="next" value="Reset password"/>
                    </div>

                </div>
            </form>
        </div>
    </div>
{% endblock %}
